footer
  .container.text-center
    p.pull-left © 2014 Actus coop, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/yezune/www.suwoncoin.org') GitHub Project
      li
        a(href='https://github.com/yezune/www.suwoncoin.org/issues') Issues